In [11]:
import pandas as pd
import numpy as np

In [12]:
df_book=pd.read_csv('Books.csv')
df_rating=pd.read_csv('Ratings.csv')
df_user=pd.read_csv('Users.csv')

C:\Users\mukul\AppData\Local\Temp\ipykernel_4196\1185358757.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_book=pd.read_csv('Books.csv')

In [13]:
df_book.drop(columns=['Image-URL-S','Image-URL-L'],inplace=True)

In [14]:
df_book

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-M
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...
...,...,...,...,...,...,...
271355,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...
271356,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...
271358,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...
271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...

In [15]:
df_book['Image-URL-M'][0]

'http://images.amazon.com/images/P/0195153448.01.MZZZZZZZ.jpg'

In [16]:
df_rating

         User-ID         ISBN  Book-Rating
0         276725   034545104X            0
1         276726   0155061224            5
2         276727   0446520802            0
3         276729   052165615X            3
4         276729   0521795028            6
...          ...          ...          ...
1149775   276704   1563526298            9
1149776   276706   0679447156            0
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

[1149780 rows x 3 columns]

In [17]:
df_user

        User-ID                            Location   Age
0             1                  nyc, new york, usa   NaN
1             2           stockton, california, usa  18.0
2             3     moscow, yukon territory, russia   NaN
3             4           porto, v.n.gaia, portugal  17.0
4             5  farnborough, hants, united kingdom   NaN
...         ...                                 ...   ...
278853   278854               portland, oregon, usa   NaN
278854   278855  tacoma, washington, united kingdom  50.0
278855   278856           brampton, ontario, canada   NaN
278856   278857           knoxville, tennessee, usa   NaN
278857   278858                dublin, n/a, ireland   NaN

[278858 rows x 3 columns]

In [18]:
df_temp=df_user.merge(df_rating,on='User-ID')

In [19]:
df=df_temp.merge(df_book,on='ISBN')

In [20]:
df

,User-ID,Location,Age,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-M
0,2,"stockton, california, usa",18.0,0195153448,0,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,8,"timmins, ontario, canada",NaN,0002005018,5,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...
2,11400,"ottawa, ontario, canada",49.0,0002005018,0,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...
3,11676,"n/a, n/a, n/a",NaN,0002005018,8,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...
4,41385,"sudbury, ontario, canada",NaN,0002005018,0,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...
...,...,...,...,...,...,...,...,...,...,...
1031131,278851,"dallas, texas, usa",33.0,0743203763,0,As Hogan Said . . . : The 389 Best Things Anyo...,Randy Voorhees,2000,Simon &amp; Schuster,http://images.amazon.com/images/P/0743203763.0...
1031132,278851,"dallas, texas, usa",33.0,0767907566,5,All Elevations Unknown: An Adventure in the He...,Sam Lightner,2001,Broadway Books,http://images.amazon.com/images/P/0767907566.0...
1031133,278851,"dallas, texas, usa",33.0,0884159221,7,Why stop?: A guide to Texas historical roadsid...,Claude Dooley,1985,Lone Star Books,http://images.amazon.com/images/P/0884159221.0...
1031134,278851,"dallas, texas, usa",33.0,0912333022,7,The Are You Being Served? Stories: 'Camping In...,Jeremy Lloyd,1997,Kqed Books,http://images.amazon.com/images/P/0912333022.0...
1031135,278851,"dallas, texas, usa",33.0,1569661057,10,"Dallas Street Map Guide and Directory, 2000 Ed...",Mapsco,1999,American Map Corporation,http://images.amazon.com/images/P/1569661057.0...

# Most Popular Books

In [21]:
most_popular=df.groupby(['Book-Title']).count()['Book-Rating'].reset_index()

In [22]:
most_popular=most_popular[most_popular['Book-Rating']>550]

In [24]:
most_popular=df.merge(most_popular,on='Book-Title').drop_duplicates('Book-Title')[['Book-Title','Image-URL-M','Book-Rating_y','Book-Author']]

In [25]:
most_popular=most_popular.sort_values('Book-Rating_y',ascending=False)
most_popular

,Book-Title,Image-URL-M,Book-Rating_y,Book-Author
617,Wild Animus,http://images.amazon.com/images/P/0971880107.0...,2502,Rich Shapero
6279,The Lovely Bones: A Novel,http://images.amazon.com/images/P/0316666343.0...,1295,Alice Sebold
16713,The Da Vinci Code,http://images.amazon.com/images/P/0385504209.0...,898,Dan Brown
9291,A Painted House,http://images.amazon.com/images/P/044023722X.0...,838,John Grisham
14727,The Nanny Diaries: A Novel,http://images.amazon.com/images/P/0312278586.0...,828,Emma McLaughlin
4896,Bridget Jones's Diary,http://images.amazon.com/images/P/0330332775.0...,815,Helen Fielding
10793,The Secret Life of Bees,http://images.amazon.com/images/P/0142001740.0...,774,Sue Monk Kidd
17611,Divine Secrets of the Ya-Ya Sisterhood: A Novel,http://images.amazon.com/images/P/0060928336.0...,740,Rebecca Wells
14004,The Red Tent (Bestselling Backlist),http://images.amazon.com/images/P/0312195516.0...,723,Anita Diamant
4226,Angels &amp; Demons,http://images.amazon.com/images/P/0671027360.0...,670,Dan Brown
10129,Life of Pi,http://images.amazon.com/images/P/0151008116.0...,664,Yann Martel
12773,Snow Falling on Cedars,http://images.amazon.com/images/P/067976402X.0...,662,David Guterson
19507,The Summons,http://images.amazon.com/images/P/0440241073.0...,655,John Grisham
12123,The Notebook,http://images.amazon.com/images/P/0446605239.0...,650,Nicholas Sparks
0,The Testament,http://images.amazon.com/images/P/0440234743.0...,617,John Grisham
7574,House of Sand and Fog,http://images.amazon.com/images/P/0375727345.0...,588,Andre Dubus III
16128,Where the Heart Is (Oprah's Book Club (Paperba...,http://images.amazon.com/images/P/0446672211.0...,585,Billie Letts
18926,The Pelican Brief,http://images.amazon.com/images/P/0440214041.0...,581,John Grisham
18351,Harry Potter and the Sorcerer's Stone (Harry P...,http://images.amazon.com/images/P/059035342X.0...,575,J. K. Rowling
8718,Summer Sisters,http://images.amazon.com/images/P/0440226430.0...,573,Judy Blume
15555,The Girls' Guide to Hunting and Fishing,http://images.amazon.com/images/P/0140293248.0...,573,Melissa Bank
13435,The Firm,http://images.amazon.com/images/P/0385416342.0...,569,John Grisham
5711,The Pilot's Wife : A Novel,http://images.amazon.com/images/P/0316601950.0...,568,Anita Shreve
11567,Harry Potter and the Chamber of Secrets (Book 2),http://images.amazon.com/images/P/0439064864.0...,556,J. K. Rowling
8162,The Brethren,http://images.amazon.com/images/P/0385497466.0...,556,JOHN GRISHAM
3671,The Joy Luck Club,http://images.amazon.com/images/P/0804106304.0...,555,Amy Tan
3119,Timeline,http://images.amazon.com/images/P/0345417623.0...,552,MICHAEL CRICHTON

# Collaborative Based

In [26]:
user=df['User-ID'].value_counts()[:800].index

In [27]:
final_df=df[df['User-ID'].isin(user)]

In [29]:
book=final_df['Book-Title'].value_counts()[:800].index

In [30]:
final_df=final_df[final_df['Book-Title'].isin(book)]

In [31]:
final_df

,User-ID,Location,Age,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-M
31,11676,"n/a, n/a, n/a",NaN,0399135782,9,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...
33,36836,"raleigh, north carolina, usa",56.0,0399135782,0,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...
34,46398,"san antonio, texas, usa",37.0,0399135782,9,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...
38,113270,"evanston, illinois, usa",25.0,0399135782,0,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...
39,113519,"pleasanton, california, usa",NaN,0399135782,0,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...
...,...,...,...,...,...,...,...,...,...,...
1026285,269566,"seattle, washington, usa",9.0,0670809381,0,Echoes,Maeve Binchy,1986,Penguin USA,http://images.amazon.com/images/P/0670809381.0...
1027153,271284,"alexandria, virginia, usa",50.0,0440910927,0,The Rainmaker,John Grisham,1995,Island,http://images.amazon.com/images/P/0440910927.0...
1027450,271705,"atlanta, georgia, usa",25.0,B0001PIOX4,0,Fahrenheit 451,Ray Bradbury,1993,Simon &amp; Schuster,http://images.amazon.com/images/P/B0001PIOX4.0...
1029284,275970,"pittsburgh, pennsylvania, usa",46.0,1586210661,9,Me Talk Pretty One Day,David Sedaris,2001,Time Warner Audio Major,http://images.amazon.com/images/P/1586210661.0...
1029855,277639,"forsyth, montana, usa",48.0,0590313088,0,Hideaway,Beverly H. Renner,1980,Scholastic,http://images.amazon.com/images/P/0590313088.0...

In [32]:
main_df=final_df.drop_duplicates('Book-Title')

In [33]:
main_df

,User-ID,Location,Age,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-M
31,11676,"n/a, n/a, n/a",NaN,0399135782,9,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...
101,2977,"richland, washington, usa",25.0,0440234743,0,The Testament,John Grisham,1999,Dell,http://images.amazon.com/images/P/0440234743.0...
530,11676,"n/a, n/a, n/a",NaN,0452264464,8,Beloved (Plume Contemporary Fiction),Toni Morrison,1994,Plume,http://images.amazon.com/images/P/0452264464.0...
788,2766,"frisco, texas, usa",42.0,0971880107,6,Wild Animus,Rich Shapero,2004,Too Far,http://images.amazon.com/images/P/0971880107.0...
3275,11676,"n/a, n/a, n/a",NaN,0345402871,0,Airframe,Michael Crichton,1997,Ballantine Books,http://images.amazon.com/images/P/0345402871.0...
...,...,...,...,...,...,...,...,...,...,...
440503,11676,"n/a, n/a, n/a",NaN,0449223604,5,M Is for Malice,Sue Grafton,1998,Fawcett Books,http://images.amazon.com/images/P/0449223604.0...
447601,11676,"n/a, n/a, n/a",NaN,0553278029,8,A Great Deliverance,Elizabeth George,1989,Bantam Books,http://images.amazon.com/images/P/0553278029.0...
459193,11676,"n/a, n/a, n/a",NaN,0743418131,0,Deck the Halls (Holiday Classics),Mary Higgins Clark,2002,Pocket,http://images.amazon.com/images/P/0743418131.0...
467269,11676,"n/a, n/a, n/a",NaN,155166674X,9,Between Friends,Debbie Macomber,2003,Mira Books,http://images.amazon.com/images/P/155166674X.0...
487940,12538,"byron, minnesota, usa",18.0,1401088945,0,Ground Zero and Beyond,J. P. McCarthy,2003,Xlibris Corporation,http://images.amazon.com/images/P/1401088945.0...

In [37]:
pv=final_df.pivot_table(index='Book-Title',columns='User-ID',values='Book-Rating',fill_value=0)

In [38]:
from sklearn.metrics.pairwise import cosine_similarity

In [39]:
similarity=cosine_similarity(pv)

In [40]:
def recommendation(book_name):
    index=np.where(pv.index==book_name)[0][0]
    similar_book=sorted(list(enumerate(similarity[index])),key=lambda x:x[1],reverse=True)[1:6]
    for i in similar_book:
        print(pv.index[i[0]])

In [41]:
book_named='1984'

In [42]:
recommendation(book_named)

The Handmaid's Tale
Animal Farm
Slaughterhouse Five or the Children's Crusade: A Duty Dance With Death
The Vampire Lestat (Vampire Chronicles, Book II)
Brave New World

In [35]:
import pickle as pkl

In [36]:
pkl.dump(most_popular,open('most-popular-book.pkl','wb'))
pkl.dump(main_df,open('books.pkl','wb'))
#pkl.dump(pv,open('pivot-tabel.pkl','wb'))
#pkl.dump(similarity,open('similarity.pkl','wb'))